*{
    margin: 0;
    padding:0;
    color: #fff;
}
.row{
    margin-right: 0px !important; 
    margin-left: 0px !important;
}
img{
    cursor:  pointer !important;
}
.container-fluid{
    padding-right: 0px !important;
     padding-left: 0px !important;
}
.col-md-12{
    padding-right: 0px !important; 
     padding-left: 0px !important;
}
.option3{
    position: relative;
   
}
body{
    background-image: url(../image/nen.jpg);
    background-position: center;
    background-size: contain;
    height: 100vh;
    width:100%;
    left: 0;
    right:0;
}
.row img{
    width: 100%;
}
.cacgianhang{
    position: absolute;
   /* padding-top: 3%; */
    
}
.anh1:hover{
    transition: opacity .5s linear .2s;
    box-shadow: 1px 1px 1px grey;
}
.title_gianhang{
    text-align: center;
}
.gian1{
    transform: scaleX(-1);
}
.giankimcuong{
    position: relative;
}
.kimcuong{
    position: absolute;
     right:10%;
    top:-17%;
    width:100%;
    height:100%;
}
.link-kimcuong {
    position: absolute;
    right:10%;
    top:0%;
  
   max-width: 27%;
    max-height: 27%;
}

.vang{
    position: absolute;
     right:10%;
    top:-17%;
    width:100%;
    height:100%;
}
.link-vang {
    position: absolute;
    left: 30%;
    top: 30%;
    max-width: 27%;
    max-height: 27%;
}
.link-vang1 {
    position: absolute;
    right: 10%;
    top: 30%;
    max-width: 27%;
    max-height: 27%;
}
.logo{
    position: absolute;
    width:100%;
    height:100%;
    text-align: center;
}
.link-logo{
    position: absolute;
    text-align: center;
    top: 25%;
    max-width: 17%;
    max-height: 17%;
    left: 45%;
    margin: auto;
    justify-content: center;
    
}
.link-logo1{
    position: absolute;
    display: block;
    object-fit: contain;
    
    top: 30%;
    max-width: 17%;
    max-height: 17%;
    right: 25%;
    filter: drop-shadow(0px 0px 3px #ccc);
   
}
img.load{
    opacity: 1;
    -webkit-transition: opacity .5s linear .2s;
    -moz-transition: opacity .5s linear .2s;
    transition: opacity .5s linear .2s
}

.gianhang:hover img.load.hieuung{
    filter: drop-shadow(0px 0px 29px white);
    transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
    transition-duration: 2s;
}

.option4{
    top:0;
    left:0;
    right:0;
    bottom: 0;
    position: relative;
    width: 100%;
    height:100%;
}
.image-gif {
    position: absolute;
    top: 0;
    left: 25%;
    width: 48%;
}

.logo-option4{
    top:6.5%;
    position: absolute;
    width:100%;
    height:70%;
}
    .left{
        width:100%;
        height:100%;
     left:6%;
    }
    .left img{
        width: 64.5%;
        height:100%;
    }
    .col-md-3 ,.col-md-6{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .right{
       
        width:100%;
        height:100%;
      left:2%;
    }
    .right img{
        width: 64.5%;
        height:100%;
        
     } 
     .brand{
        width:80%;
        height:95%;
        left: 4.5%;
    }
    .brand img{
        width:80%;
        height:95%;
       
    }



@media only screen and (max-width:739px){
    .left{
        width:25% !important;
        left: 6%;
        height:100%;
    }
    .right{
        width:25% !important;
        height:100%;
        left: 2%;
    }
    .brand{
        width:50% !important;
        height:100%;
        left: 4.5%;
    }
}
@media only screen and (min-width:740px) and (max-width:1023px){
    .left{
        width:100%;
        height:100%;
        left: 6%;
    }
    .left img{
        width:64.5%;
        height:100%;
    }
    .right{
   
        width:100%;
        height:100%;
        left: 2%;
    }
    .right img{
        width:64.5%;
        height:100%;/* left:1px; */
    }
    .brand{
        width:80%;
        height:100%;
        left: 4.5%;
    }

}
